.nav-text {
    color: #777777;
}

.course-border {
    border: 1px solid gray;
    border-radius: 5px;
}

.mt {
    margin-top: 100px;
}

.carousel-margin {
    margin: 180px 180px;
}

.carou-text {
    color: #F4F4F4;
}